.profesion-titulo{
    background-color: white;
    width: 100%;
    padding: 5px;
    font-size: 1.1rem;
    text-align: center;
}
section{
    width: 100%;
    height: 100%;
    .container-profesionales{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-flow: row;
        gap:10px;
        width: 90%;
        height: 100%;
        text-align: center;
        margin: 0 auto;

        .card-template{
            height: 100%;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            border-radius: 20px;
            .container-template{
                border-radius: 30px;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.726);
                margin-bottom: 10px;
                box-shadow: 1px 1px 1px 1px rgba(75, 75, 75, 0.726);
            .card-img{
                width: 100%;
                height: 12.5rem;
                border-top: 40px;
                }
            .container-texto{
                padding-top: 5px;
                
                .card-p{
                    color: black;
                    font-weight: bold;
                    padding: 0.3125rem;
                }
            }
        }

        }
    }
}

@media (max-width:876px){
    .container-profesionales{
    grid-template-columns:repeat(auto-fill, minmax(250px,1fr));}
}